/* @font-face { font-family: Generation; src: url(../generation/Generation.ttf); }  */

:root {
    --skyblue: #abffff;
    --cyan: cyan;
    --nightskyblue: #3b2c6e;
    --purple: #880088;
    --lavender: #e7a6f0;
    --white: #FFFFFF;
    --notblack: #111111;
    --grey: #666666;
}

.light-theme {
    --bg: var(--skyblue);
    --fontColor: var(--notblack);
    --linkColorUnvisited: blue;
    --linkColorVisited: var(--purple);
    --buttonBg: var(--skyblue);
    --buttonFontColor: var(--notblack);
    --headerBg: var(--white);
    --projectBorder: var(--cyan);
    --projectBorderHover: yellow;
    --overlaycolor: #00b7ff80;
}

.dark-theme {
    --bg: var(--notblack);
    --fontColor: var(--skyblue);
    --linkColorUnvisited: blue;
    --linkColorVisited: var(--lavender);
    --buttonBg: var(--nightskyblue);
    --buttonFontColor: var(--white);
    --headerBg: var(--grey);
    --projectBorder: black;
    --projectBorderHover: var(--cyan);
    --overlaycolor: #00000066;
}

body {
    background: var(--bg);
    background-image: linear-gradient(var(--overlaycolor),var(--overlaycolor)), url(./../../../public/3264451.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-blend-mode: overlay; */
    color: var(--fontColor);
    font-family: helvetica;
    text-align: center;
}

#header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;

    display: flex;
    align-items: center;

    height: 100px;
    background-color: var(--headerBg);

    font-family: Calibri;
    font-size: 20px;
}

#header h1{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    
    text-align: center;
    font-style: oblique;
    font-size: 40px;
}

#slide-left {
    top: 200px;
    width: 100vw;
    left: 50vw;
    transform: translate(-50%, 0);
    transition: left 0.6s cubic-bezier(0.65, 0, 0.35, 1);
    position: fixed;
    
    background-color: blue; /* temporary */
}

#project-display {
    width: 95%;
    height: 400px;
    left: 100%;
    top: 0px;
    position: fixed;
    background-color: orange;
    
    text-align: left;
    margin: 2.5%;
    box-sizing:border-box;
}

#project-description {
    width: 45%;
    height: 200px;

    background-color: yellow;
    padding: 5px;
    margin: 20px;
}

#project-links {
    width: 45%;
    padding-left: 5px;
    margin: 20px;
}

#project-media {
    width: 45%;
    height: 350px;
    right: 0px;
    top: 0px;
    position: absolute;

    background-color: yellow;
    
    text-align: right;
    margin: 20px;
}

#projects-region {
    width: 75%;
    height: 150px;
    margin: auto;
    background-color: var(--bg);

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 33.3% 33.3% 33.3% 33.3% 33.3% 33.3%;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#projects-region::-webkit-scrollbar {
    display: none;
} 

#prototypes-region {
    position: relative;
    width: 75%;
    height: 150px;
    top: 75px;
    margin: auto;
    background-color: var(--bg);

    display: grid;
    /* grid-template-rows: 50% 50%; */
    grid-template-columns: 33.3% 33.3% 33.3%;
    object-fit: contain;
}

#project1 {
    grid-column: 1 / 2;
    background-image: url(./../../../public/BouncingBob.png);
    background-size: cover;
    background-position: center;
    background-position-x: 45%;
    background-position-y: 20px;
}

#project2 {
    grid-column: 2 / 3;
    background-image: url(./../../../public/TheRuinsTrim.png);
    background-size: cover;
    background-position: center;
}

#project3 {
    grid-column: 3 / 4;
    background-image: url(./../../../public/SpunkySpore.png);
    background-size: cover;
    background-position: center;
}

#project7 {
    grid-column: 1 / 2;
    background-image: url(./../../../public/2AAHDT.png);
    background-size: cover;
    background-position: center;
    background-position-y: 15px;
}

#project8 {
    grid-column: 2 / 3;
    background-image: url(./../../../public/StevesAdventure.png);
    background-size: cover;
    background-position: center;
}

#project9 {
    grid-column: 3 / 4;
    background-image: url(./../../../public/1BUAT.png);
    background-size: cover;
    background-position: center;
}

#footer {
    top: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: var(--headerBg);
}

.theme-button {
    margin: 25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--buttonFontColor);
    background-color: var(--buttonBg);
    transition: background-color 0.3s, color 0.3s;
}

.theme-button:hover {
    color: var(--white);
    background-color: orange;
}

.theme-button:active {
    background-color: yellow;
}

.project {
    background-color: orange;
    background-size: cover;
    border: 5px solid;
    border-color: var(--projectBorder);
    border-radius: 10px;
    margin: 10px;
}

.project:hover{
    background-color: orange;
    border: 5px solid;
    border-color: var(--projectBorderHover);
    border-radius: 10px;
    margin: 10px;
}

.project p {
    background-color: yellow;
    color: var(--notblack);
    margin: 0px;
    padding: 2px;
}

.project a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

 /* unvisited link */
a:link {
    color: var(--linkColorUnvisited);
}
  
  /* visited link */
a:visited {
    color: var(--linkColorVisited);
}
  
  /* mouse over link */
a:hover {
    color: orange;
}
  
  /* selected link */
a:active {
    color: yellow;
} 

img {
    width:100%;
    height:100%;
    object-fit:cover;
}